@use './colors' as c;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 1.6rem;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.nav {
	padding: 20px;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	background-color: c.$pure-white;
	&__title {
		display: flex;
		align-items: center;
		gap: 5px;
		font-size: 2.5rem;
		text-decoration: none;
		color: c.$gray;
		z-index: 10;
		img {
			width: 35px;
			height: 35px;
		}
	}

	.hidden {
		transform: translateY(-150%);
	}

	&__items {
		&--mobile {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100vh;
			gap: 50px;
			transition: transform 0.3s;
			z-index: 9;
			background-color: c.$pure-white;
		}

		&--desktop {
			display: none;
		}
	}

	&__item {
		text-decoration: none;
		color: c.$black;
		font-size: 2rem;
	}
}
.hamburger {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 100;

	&-inner,
	&-inner::before,
	&-inner::after {
		background-color: c.$gray;
	}
}
